PORTA_HTTP=8080
APP_SECRET=gere_uma_chave_aleatoria_com_pelo_menos_64_caracteres
BANCO_NOME=intranet
BANCO_USUARIO=intranet
BANCO_SENHA=gere_uma_senha_forte_e_exclusiva
REDIS_SENHA=gere_outra_senha_forte_e_exclusiva
