APP_ENV=dev
APP_SECRET=alterar_em_cada_ambiente
DEFAULT_URI=http://localhost
DATABASE_URL="postgresql://usuario:senha@postgres:5432/banco?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=redis://redis:6379/mensagens
